h1{
    color: #0010f3;
    text-align: center;
    background-color: cornsilk;
}
p{
    color: white;
    font-size: 20px;
}
h3{
    color: white;
    font-size: 20px;
}
h2{
    color: white;
    font-size: 20px;
}
a{
    color: rgb(79, 248, 0);
    font-weight: bold;
}